#wrapper {
width:900px;
margin:10px auto 0px auto;
padding:0;
border:2px solid #555;
background-color:#fff;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-color:#0f0;
text-align:left;
min-height:600px;
display:block;
}

#banner {
visibility:hidden;
}
